@use "custom";
@import "~bootstrap/scss/bootstrap";

$primary-color: rgb(255, 143, 14);
$text-color: #333;

body {
    background-color: $primary-color;
}

a {
    text-decoration: none;
    color: $text-color;
}
.full-img {
    width: 100%;
}

.container .card {
    background-color: lighten($primary-color, 20%);
}
