{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Pizza Lorenzo !{% endblock %}

{% block body %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    {% for category in categorys %}
                    <li class="nav-item">
                        <button class="nav-link fetch-category" href="#" data-category="{{ category.id }}">{{ category.name }}</button>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </nav>
        <div id="list-products">
            <div class="card card-list-product" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-3">
    <div class="card p-3">
        <a href="{{ path('product_index') }}" class="m-auto">
            <h1 class="text-uppercase">liste des produits</h1>
        </a>
    </div>
</div>
    {% if validateOrder is defined %}
        {% if not validateOrder %}
            <div class="d-none validate"></div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/listProducts.js') }}"></script>
{% endblock %}
