{% extends 'base.html.twig' %}

{% block title %}Edit User Password{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(updateUserPasswordForm) }}
        {# {{ form_row(updateUserPasswordForm.oldPassword) }} #}
        {{ form_row(updateUserPasswordForm.password) }}
        <button type="submit" class="btn">Edit</button>
    {{ form_end(updateUserPasswordForm) }}

{% endblock %}